* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    min-width: 700px;
    font-family: "Lato", sans-serif;
}

li {
    list-style: none;
}

header {
    width: 98%;
    height: 300px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.header_top {
    width: 100%;
    height: 70px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DEDFE2;
}

.header_top_left ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header_top_left ul li {
    margin: 5px;
    border-right: 1px solid #DEDFE2;
    padding-right: 5px;
    color: #7E7E7E;
    font-size: 16px;
}

.header_top_left ul li:nth-last-child(1) {
    border-right: none;
}

.header_top_center {
    margin: 10px;
    padding: 10px;
}

.header_top_center marquee {
    font-weight: 600;
    font-size: 14px;
    color: #7E7E7E;
}

.header_top_right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 80px;
}

.header_top_right div:nth-last-child(1) {
    border-right: none;
}

.call_operator {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 10px;
}

.call_operator ul {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7E7E7E;
}

.call_operator ul li:nth-last-child(1) {
    color: #3BB77E;
    font-weight: 600;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lang_menu,
.currency_menu {
    position: relative;
    border-right: 1px solid #DEDFE2;
    padding-right: 20px;
    padding-left: 10px;
}

.lang_menu ul li a:hover,
.currency_menu ul li a:hover {
    background-color: #f2f2f2;
}

.selected_lang,
.selected_currency {
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    line-height: 2;
    padding-left: 5px;
    font-size: 14px;
    color: #7E7E7E;
}

.category {
    color: #fff !important;
}


.selected_lang::before,
.selected_currency::before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-image: url(https://flagsapi.com/US/flat/16.png);
}

.lang_menu ul,
.currency_menu ul {
    display: none;
    margin: 0;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 120px;
    position: absolute;
    top: 50px;
    left: 0;
}

.category ul {
    display: none;
    margin: 0;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #f8f8f8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 200px;
    position: absolute;
    top: 50px;
    left: 0;
}

.lang_menu ul li,
.currency_menu ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang_menu_ul li {
    width: 200px;
    height: 50px;
    background-color: yellow;
    margin: 5px;
}

.lang_menu ul li a,
.currency_menu ul li a {
    text-decoration: none;
    width: 120px;
    display: block;
    padding: 2px 5px;
    margin-left: 5px;
}

.lang_menu ul li a::before,
.currency_menu ul li a::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.us::before {
    background-image: url(https://flagsapi.com/US/flat/32.png);
}

.de::before {
    background-image: url(https://flagsapi.com/DE/flat/32.png);
}

.ru::before {
    background-image: url(https://flagsapi.com/RU/flat/32.png);
}

.fr::before {
    background-image: url(https://flagsapi.com/FR/flat/32.png);
}

.lang_menu:hover ul,
.currency_menu:hover ul {
    display: block;
    z-index: 1;
}

.header_middle {
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 200px;
    height: 100px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.search {
    width: 600px;
    height: 50px;
    background-color: blue;
    outline: none;
    border: none;
    border-left: 1px solid rgb(227, 220, 220);
}

.form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    border: 2px solid #BCE3C9;
    outline: none;
}

select {
    width: 40%;
    height: 50%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 16px;
    outline: none;
    border-right: 1px solid rgb(227, 220, 220);
    background-color: transparent;
}

.search_icon {
    width: 60%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
    text-indent: 10px;
    padding-left: 10px;
}

.search_icon button {
    width: 70px;
    height: 100%;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    outline: none;
    color: #7E7E7E;
    border: none;
    cursor: pointer;
}



.social_media ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.social_media ul li {
    margin-right: 15px;
    position: relative;
}

.social_media ul li::before {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: #3BB77E;
    color: white;
    top: -5px;
    left: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
}

.social_media ul li:nth-child(1)::before {
    content: "1";
}

.social_media ul li:nth-child(2)::before {
    content: "2";
}

.social_media ul li:nth-child(3)::before {
    content: "3";
}

.header_bottom {
    width: 100%;
    height: 150px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #DEDFE2;
}

.header_bottom_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    border: 1px solid #3BB77E;
    width: 200px;
    height: 90px;
    border-radius: 10px;
    background-color: #3BB77E;
    color: #fff;
}

.header_bottom_left_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_bottom_left_item span {
    margin-left: 5px;
}

.header_bottom_center {
    width: 700px;
    height: 100%;
    background-color: transparent;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header_bottom_center ul {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_bottom_center ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
}

.header_bottom_center ul li i {
    padding-left: 5px;
    font-size: 12px;
    color: #7E7E7E;
}

.header_bottom_center ul li a {
    text-decoration: none;
    font-size: 18px;
    padding-left: 5px;
}

.header_bottom_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
    background-color: transparent;
}

.header_bottom_right article {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
}

.header_bottom_right article p {
    font-size: 26px;
    color: #3BB77E;
    font-weight: 800;
}

.header_bottom_right article span {
    color: #7E7E7E;
    font-size: 14px;
}


main {
    width: 100%;
}

.banner {
    width: 98%;
    height: 500px;
    background-image: url(../img/slider-1.png);
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    margin-top: 30px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 40px;
    padding: 50px;
}

.content h1 {
    font-size: 70px;
    font-weight: 600;
    color: #253D4E;
}

.content p {
    font-size: 40px;
    margin: 40px 0px;
    color: #7E7E7E;
}

form {
    width: 500px;
    max-width: 500px;
    height: 70px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

form input {
    background-image: url(../img/icon-plane.png);
    z-index: 1;
    background-position: 20px;
    background-repeat: no-repeat;
    padding-left: 50px;
    font-size: 18px;
    width: 100%;
    height: 100%;
    padding-right: 50px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border: none;
    outline: none;
}

form button {
    cursor: pointer;
    z-index: 2;
    margin-left: -50px;
    height: 70px;
    width: 300px;
    background: #3BB77E;
    color: white;
    border: 0;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-size: 20px;
}

.featured_category {
    width: 98%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
    width: 100%;
    height: 100px;

}

.top_left {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected {
    color: #3BB77E !important;
}


.top_left h1 {
    font-size: 40px;
}

.top_left ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.top_left ul li {
    margin-right: 30px;
    transition: .5s;
}

.top_left ul li:hover {
    transform: translateY(-5px);
}

.top_left ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #7E7E7E;
}

.arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
}

.arrow button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    border: none;
    background-color: #f2f2f2;
    transition: .5s;
    cursor: pointer;
}

.arrow button:hover {
    background-color: #3BB77E;
}

.arrow button:hover i {
    color: white;
}


.arrow button i {
    font-size: 14px;
    color: #7E7E7E;
}

.featured_center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
    background-color: transparent;
    border-radius: 10px;
    flex-wrap: wrap;
}

.card {
    width: 100px;
    height: 180px;
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin: 10px;
    transition: .7s;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.card:hover .center_content h3 {
    color: #3BB77E;
    font-weight: 600;
}


.card:nth-child(1) {
    background-color: #F2FCE4;
}

.card:nth-child(2) {
    background-color: #FFFCEB;
}

.card:nth-child(3) {
    background-color: #ECFFEC;
}

.card:nth-child(4) {
    background-color: #FEEFEA;
}

.card:nth-child(5) {
    background-color: #FFF3EB;
}

.card:nth-child(6) {
    background-color: #FFF3FF;
}

.card:nth-child(7) {
    background-color: #F2FCE4;
}

.card:nth-child(8) {
    background-color: #FFFCEB;
}

.card:nth-child(9) {
    background-color: #FEEFEA;
}

.card:nth-child(10) {
    background-color: #ECFFEC;
}

.card_img {
    width: 80%;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    border: none;
    position: relative;
    transition: .7s ease-in;
}

.card_img img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.card_img:hover img {
    width: 105%;
}

.center_content {
    width: 100%;
    height: 50%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.center_content h3 {
    font-size: 15px;
    padding-bottom: 10px;
    text-align: center;
}

.center_content span {
    padding: 0 5px;
}

.featured_bottom {
    width: 100%;
    height: 300px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured_bottom div {
    width: 400px;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 50px;
    transition: .5s;
}

.featured_bottom div h1 {
    font-size: 25px;
    transition: .5s;
}

.featured_bottom div:nth-child(1) {
    background-image: url("../img/banner-1.png");
}

.featured_bottom div:nth-child(2) {
    background-image: url("../img/banner-2.png");
    margin: 0 30px;
}

.featured_bottom div:nth-child(3) {
    background-image: url("../img/banner-3.png");
}

.featured_bottom button {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    background-color: #3BB77E;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 5px;
    transition: .5s;
}

.featured_bottom button i {
    margin-left: 5px;
}

.featured_bottom div:hover {
    filter: brightness(95%);
}

.featured_bottom div:hover h1 {
    transform: translateY(-5px);
}

.featured_bottom button:hover {
    width: 120px;
    background-color: orange;
}

.products {
    width: 98%;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.products_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.products_top h1 {
    font-size: 40px;
    font-weight: 600;
}

.products_nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products_nav ul li {
    padding-right: 20px;
    text-transform: capitalize;
    font-size: 18px;
    transition: .5s;
    cursor: pointer;
}

.products_nav ul li:hover {
    transform: translateY(-5px);
    color: #3BB77E;
}

.products_nav ul li:nth-child(1) {
    color: #3BB77E;
}

.products_bottom {
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.product_card {
    width: 220px;
    height: 450px;
    background-color: white;
    border: 1px solid #DEDFE2;
    border-radius: 20px;
    margin: 25px;
    margin-left: 0;
    transition: .3s;
    overflow: hidden;
    position: relative;
}

.product_card:hover {
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.product_card:hover .prod_image1 img {
    display: none;
}

.product_card:hover .prod_image2 img{
    display: block;
    transform: scale(1.1);
}
.product_card:hover .wishlist{
    display: block;
}

.prod_image1 {
    width: 100%;
    height: 200px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
}

.prod_image1 img {
    width: 60%;
    height: 70%;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
}

.prod_image2 {
    width: 100%;
    height: 200px;
    background-color: transparent;
    border-radius: 20px;
    position: absolute;
    top: 0%;
    left: 0%;
}

.prod_image2 img {
    display: none;
    width: 60%;
    height: 70%;
    overflow: hidden;
    object-fit: cover;
    position: absolute;
    top: 30px;
    left: 40px;
}


.prod_image1::before {
    content: "Hot";
    width: 70px;
    height: 35px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #F34A7F;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    z-index: 2;
}

.product_card:nth-child(3n+1) .prod_image1::before {
    background-color: #3BB77E;
    content: "New";
}

.product_card:nth-child(odd) .prod_image1::before {
    background-color: #67BCEE;
    content: "Sale";
}

.product_card:nth-child(5) .prod_image1::before {
    background-color: #67BCEE;
    content: "-14%";
}

.wishlist{
    width: 100px;
    background-color: white;
    border: 1px solid #3BB77E;
    flex-wrap: wrap;
    transform: translate(55%,90%);
    z-index: 10;
    display: none;
    cursor: pointer;
}

.wishlist i{
    margin: 5px;
    padding: 5px;
    position: relative;
    color: #3BB77E;
}

.wishlist i:nth-child(1):after{
    content: "";
    position: absolute;
    top: 0;
    left: 35px;
    width: 1px;
    height: 30px;
    background-color: #DEDFE2;
}

.wishlist i:nth-child(2):after{
    content: "";
    position: absolute;
    top: 0;
    left: 35px;
    width: 1px;
    height: 30px;
    background-color: #DEDFE2;
}

.product_card_content {
    width: 100%;
    height: 245px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    border-radius: 20px;
}

.product_card_content span {
    font-size: 14px;
    color: gray;
}

.product_card_content h2 {
    font-size: 18px;
    word-break: break-all;
    color: black;
    font-weight: 500;
    padding: 15px 0px;
    font-family: "Quicksand", sans-serif;
    text-align: left;
}


.rating i {
    color: #FDC040;
}

.product_card_content p {
    padding: 10px 0;
    font-size: 16px;
    text-transform: capitalize;
}

.product_card_content p span {
    color: #3BB77E;
    font-size: 17px;
    font-weight: 500;
}

.product_card_buttom {
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prod_price{
    width: 100%;
}

.prod_price b {
    margin-right: 10px;
    font-size: 18px;
    color: #3BB77E;
}

.prod_price s {
    font-size: 16px;
    color: gray;
}

.product_card_content button {
    width: 120px;
    height: 40px;
    background-color: #D8F6E8;
    border-radius: 5px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    color: #3BB77E;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s;
    cursor: pointer;
}

.product_card_content button:hover {
    background-color: #3BB77E;
    color: white;
    transform: translateY(-5px);
}

.product_card_content button:hover img {
    color: white;
    filter: invert(100%);
}

.product_card_content button img {
    margin-right: 10px;
}